:root {
    --shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    --bg: #1d1d1d;
    --fg: rgb(255, 248, 221); /* haha D lang */
    --fg-faded: #A3A3A3;
    --bg-faded: #161616;
    --href: var(--fg);
    --href-secondary: #01A299;
}