<html>

<head>
    <link rel="stylesheet" href="/style.css" />
    {{ if eq .DarkMode "true" }}
    <link rel="stylesheet" href="/dark.css" />
    {{ end }}
    <style>
        body.history {
            box-shadow: none;
            max-width: 750px;
            width: 100vw;
            margin: 0 auto;
            font-family: "Segoe UI", "Helvetica", "Noto Sans", sans-serif;
            overflow-y: scroll;
        }

        .history {
            width: 100%;
            display: block;
        }

        .history .header-top {
            padding: 1em;
            border-bottom: 1px solid var(--bg-faded);
            height: auto;
            font-size: 2em;
        }

        .history .messages {
            height: auto;
            display: flex;
            flex-direction: column-reverse;
            overflow: auto;
        }

        .history .messages .message {
            margin: 0.5em 1em;
            border-top: none;
            padding: 0.5em;
        }
    </style>
</head>

<body class="history">
    <div class="history">
        <div class="header-top">
            {{ .CurrentChannel }}
        </div>
        <div class="messages">
            {{ with .Messages }}
            {{ range . }}
            <div class="message {{ if .Mentioned }}mentioned{{ end }}">
                <div class="header">
                    <div class="message-author">{{ .Author | html }}
                    </div>
                    <div class="discriminator">{{ .Discriminator | html }}
                    </div>
                    <div class="message-timestamp">{{ .PrettyTimestamp }}
                    </div>
                </div>
                {{ if eq .ContentType "code/pre" }}
                <div class="message-content code">{{ .Content | html }}
                </div>
                {{ else if eq .ContentType "img/src" }}
                <div class="message-content">
                    <div class="image-embed">
                        <img src="{{ .Content | html }}" class="image-embed" />
                    </div>
                </div>
                {{ else }}
                <div class="message-content">{{ .Content | html }}
                </div>
                {{ end }}
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</body>

</html>