<html>

<head>
    <link rel="stylesheet" href="/style.css" />
    {{ if eq .DarkMode "true" }}
    <link rel="stylesheet" href="/dark.css" />
    {{ end }}
    {{ if eq .CompactMode "true" }}
    <style>
        .message {
            display: inline-block;
        }

        .message-content {
            display: inline-flex;
        }
    </style>
    {{ end }}
    {{ if .Paused }}
    {{ else }}
    <meta http-equiv="refresh" content="2; URL=#">
    {{ end }}
</head>

<body>
    {{ $cp := .CurrentChannel }}
    <div class="servers">
        <div class="server-list">
            {{ with .Servers }}
            {{ range . }}
            <a href="/?channel={{ .Name }}">
                <div class="server-name {{ if eq .Name $cp }}active{{ end }}{{ if .Unseen }}unseen{{ end }}">{{ .Name | html }}</div>
            </a>
            {{ end }}
            {{ end }}
        </div>
        <div class="settings">
            <a href="/set?settings=compact">
                <div class="compact-mode">
                    Compact
                </div>
            </a>
            <a href="/set?settings=dark">
                <div class="dark-mode">
                    Dark/Light
                </div>
            </a>
        </div>
    </div>
    <div class="chat">
        <div class="header-top">
            <div class="current-channel">{{ $cp }}</div>
            <div class="buttons">
                {{ if .Paused }}
                <a href="/?channel={{ $cp }}#">
                    <div class="paused-icon">Continue</div>
                </a>
                {{ else }}
                <a href="/?paused=true&channel={{ $cp }}#">
                    <div class="paused-icon">Pause</div>
                </a>
                {{ end }}
                <a href="/hist?channel={{ $cp }}">
                    <div class="history-icon">History</div>
                </a>
            </div>
        </div>
        <div class="messages">
            {{ with .Messages }}
            {{ range . }}
            <div class="message {{ if .Mentioned }}mentioned{{ end }}">
                <div class="header">
                    <div class="message-author">{{ .Author | html }}
                    </div>
                    <div class="sub-header">
                        <div class="discriminator">{{ .Discriminator | html }}
                        </div>
                        <div class="message-timestamp">{{ .PrettyTimestamp }}
                        </div>
                    </div>
                </div>
                {{ if eq .ContentType "code/pre" }}
                <div class="message-content code">{{ .Content | html }}
                </div>
                {{ else if eq .ContentType "img/src" }}
                <div class="message-content">
                    <div class="image-embed">
                        <img src="{{ .Content | html }}" class="image-embed" />
                    </div>
                </div>
                {{ else }}
                <div class="message-content">{{ .Content | html }}
                </div>
                {{ end }}
            </div>
            {{ end }}
            {{ end }}
        </div>
        <a href="/send?channel={{ $cp }}">
            <div class="send-message">
                Send Messages
            </div>
        </a>
    </div>
</body>

</html>