<html>

<head>
    <link rel="stylesheet" href="/style.css" />
    {{ if eq .DarkMode "true" }}
    <link rel="stylesheet" href="/dark.css" />
    {{ end }}
</head>

<body>
    <form class="login-form" action="/login" method="POST">
        <input class="nickname" type="text" name="nickname" placeholder="Awesome Mac 'n' Cheese"><br>
        <input class="submit" type="submit" value="Go!">
    </form>
</body>

</html>