<html>

<head>
    <link rel="stylesheet" href="/style.css" />
    {{ if eq .DarkMode "true" }}
    <link rel="stylesheet" href="/dark.css" />
    {{ end }}
</head>

<body>
    <form class="send-form" action="/send?channel={{ .CurrentChannel }}" method="POST" id="form">
        <div class="form-oneliner">
            <textarea rows="4" cols="50" name="content" class="content" placeholder="Message" form="form"></textarea>
            <input class="submit" type="submit" value="▶" />
        </div>
        <div class="content-type" style="font-family: monospace; text-align: center;">
            <select name="contenttype">
                <option>text</option>
                <option>img/src</option>
                <option>code/pre</option>
            </select>
        </div>
    </form>
</body>

</html>