:root {
    --shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.55);
    --bg: white;
    --fg: black;
    --fg-faded: #5c5c5c;
    --bg-faded: rgba(0, 0, 0, 0.15);
    --href: var(--fg);
    --href-secondary: #4285F4;
}

html, body {
    background: var(--bg);
    color: var(--fg);
}

html {
    display: flex;
}

body {
    max-width: 1000px;
    width: 100vw;
    margin: 0 auto;
    display: inline-flex;
    font-family: "Segoe UI", "Helvetica", "Noto Sans", sans-serif;
    box-shadow: var(--shadow);
    height: 100vh !important;
    overflow-y: scroll;
}

.chat {
    width: 100%;
    z-index: 0;
    height: auto;
}

.chat .header-top {
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--bg-faded);
    height: 1.3em;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: inline-flex;
}

div.buttons a {
    text-decoration: none;
    padding: 0 1em;
    text-align: center;
}

/* 
.history-icon, .paused-icon {}
.current-channel {} */

.send-message {
    padding: 0.5em 1em;
    border-top: 1px solid var(--bg-faded);
    vertical-align: bottom;
    height: 1.3em;
}

.messages {
    /* 5.2 = 1.3 x 4 */
    height: calc(100vh - 5.2em);
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.message-author {
    padding: 0 1em;
    padding-right: 0;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bolder;
}

.message .header {
    display: inline-flex;
}

.sub-header {
    display: none;
    opacity: 0;
    transition: .5s all;
    transition-delay: 1s;
}

.message-author:hover~.sub-header, .sub-header:hover, .sub-header:focus {
    display: inline-flex;
    opacity: 100;
    transition-delay: 1s;
}

.discriminator {
    font-size: 0.85em;
    padding-right: 1em;
    margin-top: 2px;
    width: 5em;
    opacity: 0.65;
}

.discriminator::before {
    content: "#";
    padding: 0 0.2em;
}

.message-timestamp {
    opacity: 0.8;
    font-size: 0.8em;
    margin-top: 0.25em;
    padding-right: 0.25em;
}

.message-content {
    margin: 0 0.25em;
    white-space: pre-line;
}

.message-content.code {
    padding: 0.1em 0.5em;
}

.message {
    margin: 0 0.5em;
    border-top: 1px solid var(--bg-faded);
    border-left: 3px solid transparent;
    padding: 0.25em 0;
}

.message.mentioned {
    background: rgba(244, 191, 117, 0.25);
    border-left: 3px solid rgb(244, 191, 117);
}

.code {
    font-family: monospace;
    background-color: var(--bg-faded);
    color: var(--fg);
    border: 1px solid var(--bg-faded);
}

.servers {
    max-width: 300px;
    width: 20vw;
    z-index: 2;
    background: var(--bg);
    border-right: 1px solid var(--bg-faded);
}

.server-list {
    height: calc(100vh - calc(1.5em * 2));
}

.server-name {
    color: var(--fg-faded);
    padding: 0.5em;
    border-bottom: 1px solid var(--bg-faded);
    height: 1.3em;
}

.server-name::before, .current-channel::before {
    content: "#";
}

.server-name:hover {
    background: var(--bg-faded);
    color: var(--fg);
}

.server-name.active {
    color: var(--fg);
}

div.servers a {
    text-decoration: none;
}

.settings {
    vertical-align: bottom;
    display: flex;
    overflow: auto;
    justify-content: space-evenly;
}

.dark-mode, .compact-mode {
    padding: 0.5em 1em;
    height: 1.3em;
}

select {
    margin: 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-align-last: center;
    font-family: monospace;
    background-color: var(--bg);
    color: var(--fg);
    border: none;
    transition: all 0.15s;
    -webkit-appearance: none;
}

select:hover {
    background-color: var(--bg-faded);
    transition: all 0.15s;
}

select:active {
    background-color: var(--bg-faded);
    transition: all 0.15s;
}

/* 
div.code-button {
    margin: 1em;
    position: relative;
}

div.code-button input[type="radio"] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 300px;
    height: 35px;
    z-index: 1;
}

.checkmark {
    background-color: var(--bg);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 300px;
    height: 35px;
    vertical-align: middle;
    z-index: 0;
    display: flex;
}

p.checkbox-text {
    margin: auto;
}

div.code-button:hover input[type="radio"]~.checkmark {
    background-color: var(--bg-faded);
}

div.code-button input[type="radio"]:checked~.checkmark {
    background-color: var(--fg);
    color: var(--bg);
} */

form.send-form {
    max-width: 100%;
}

form.send-form div.form-oneliner {
    max-width: 100%;
    display: inline-flex;
}

form.login-form input.nickname, form.send-form textarea.content {
    background: transparent;
    border: none;
    padding: 0.5em 1.5em;
    border-bottom: 4px solid var(--bg-faded);
    min-width: 400px;
    color: var(--fg);
    font-size: 1.1em;
    min-height: 50px;
    max-height: 95vh;
}

form.login-form input.submit, form.send-form input.submit {
    background: var(--bg-faded);
    color: var(--fg);
    border: none;
    padding: 0.5em 1.5em;
    min-height: 50px;
    max-height: 95vh;
}

/* LOGIN */

form.login-form, form.send-form {
    position: relative;
    margin: auto;
}

form.login-form {
    display: grid;
    height: 50px;
}

form.login-form input.submit {
    margin: 1em auto;
    width: 5em;
    height: 2em;
}

form.login-form input.nickname {
    height: 2em;
}

a {
    color: var(--href);
}

a:visited {
    color: var(--href-secondary);
}

img.image-embed {
    max-width: 400px;
    border: 1px solid var(--bg-faded);
}

div.image-embed {
    display: block;
}